<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">

<head>
<meta charset="UTF-8">
<title>Perfect Vision - Detalle Catalogo</title>
</head>

<body>

	<div layout:fragment="contenidopaginas">
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h5 class="m-0 font-weight-bold text-primary">Perfect Vision - Detalle Catalogo</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Identificador</th>
									<th>Nombre</th>
									<th>Catalogo</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>PEN</td>
									<td>Pendiente</td>
									<td>Estado Pedido</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>PRO</td>
									<td>En Proceso</td>
									<td>Estado Pedido</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>TER</td>
									<td>Terminado</td>
									<td>Estado Pedido</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>CAN</td>
									<td>Cancelado</td>
									<td>Estado Pedido</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>CR39</td>
									<td>CR-39</td>
									<td>Material Lente</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>POLY</td>
									<td>Policarbonato</td>
									<td>Material Lente</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>MONO</td>
									<td>Monofocal</td>
									<td>Tipo Lente</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>BIFO</td>
									<td>Bifocal</td>
									<td>Tipo Lente</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>M001</td>
									<td>Marco Clasico Negro</td>
									<td>Marcos</td>
									<td>Activo</td>
								</tr>
								<tr>
									<td>M002</td>
									<td>Marco Deportivo Azul</td>
									<td>Marcos</td>
									<td>Activo</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
