<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/plantilla/plantillaui">

<head>
    <meta charset="UTF-8">
    <title>Certificado</title>
</head>

<body>

<div layout:fragment="contenidopaginas">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">
                    Certificado
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                     <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID Certificado</th>
                                        <th>Paciente</th>
                                        <th>Fecha Emision</th>
                                        <th>Diagnostico</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>CERT-001</td><td>Pedro Andrade</td><td>2026-07-01</td><td>Miopia leve</td><td>Emitido</td></tr>
                                    <tr><td>CERT-002</td><td>Andrea Benitez</td><td>2026-07-02</td><td>Astigmatismo</td><td>Emitido</td></tr>
                                    <tr><td>CERT-003</td><td>Luis Cruz</td><td>2026-07-03</td><td>Hipermetropia</td><td>Emitido</td></tr>
                                    <tr><td>CERT-004</td><td>Monica Diaz</td><td>2026-07-04</td><td>Control anual</td><td>Emitido</td></tr>
                                    <tr><td>CERT-005</td><td>Jose Espinoza</td><td>2026-07-05</td><td>Miopia moderada</td><td>Emitido</td></tr>
                                    <tr><td>CERT-006</td><td>Carla Flores</td><td>2026-07-06</td><td>Vista cansada</td><td>Emitido</td></tr>
                                    <tr><td>CERT-007</td><td>Kevin Guerrero</td><td>2026-07-07</td><td>Sin novedades</td><td>Emitido</td></tr>
                                    <tr><td>CERT-008</td><td>Diana Hidalgo</td><td>2026-07-08</td><td>Lentes nuevos</td><td>Emitido</td></tr>
                                    <tr><td>CERT-009</td><td>Fernando Iza</td><td>2026-07-09</td><td>Control</td><td>Emitido</td></tr>
                                    <tr><td>CERT-010</td><td>Valeria Jara</td><td>2026-07-10</td><td>Astigmatismo leve</td><td>Emitido</td></tr>
                                </tbody>
                            </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
