<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">

<head>
<meta charset="UTF-8">
<title>Perfect Vision - Ordenes de Pedido</title>
</head>

<body>

	<div layout:fragment="contenidopaginas">
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h5 class="m-0 font-weight-bold text-primary">Perfect Vision - Ordenes de Pedido</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>ID Examen</th>
									<th>Paciente</th>
									<th>Estado</th>
									<th>Fecha Registro</th>
									<th>Fecha Pedido</th>
									<th>Fecha Entrega</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pedido : ${listaordenpedidos}">
									<td th:text="${pedido.idPedido}"></td>
									<td th:text="${pedido.idExamen}"></td>
									<td th:text="${pedido.idPaciente}"></td>
									<td th:text="${pedido.idEstadoPedido}"></td>
									<td th:text="${pedido.idFechaRegistro}"></td>
									<td th:text="${pedido.idFechaPedido}"></td>
									<td th:text="${pedido.idFechaEntrega}"></td>
									<td><a
										th:href="@{/ordenespedido/editar/{id}(id=${pedido.idPedido})}"
										class="btn btn-warning btn-sm">Actualizar</a> 

									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
