<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Perfect Vision - Recuperar Contrasenia</title>

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Recuperar contrasenia</h1>
                                <p class="small text-muted">Ingresa el correo del administrador para enviar la contrasenia registrada.</p>
                            </div>

                            <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>

                            <form class="user" th:action="@{/recuperar-contrasenia}" method="post" th:object="${recuperacion}">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" th:field="*{correo}" placeholder="Correo" required>
                                    <small th:if="${#fields.hasErrors('correo')}" class="text-danger" th:errors="*{correo}"></small>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Enviar
                                </button>
                            </form>

                            <hr>
                            <div class="text-center">
                                <a class="small" th:href="@{/login}">Volver al inicio de sesion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>
</html>
