<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/plantilla/plantillaui">

<head>
    <meta charset="UTF-8">
    <title>Catálogos</title>
</head>

<body>

<div layout:fragment="contenidopaginas">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">
                    Catálogos
                </h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered"
                           id="dataTable"
                           width="100%"
                           cellspacing="0">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Estado Pedido</td>
                                <td>Activo</td>
                            </tr>
                            <tr>
                                <td>Material Lente</td>
                                <td>Activo</td>
                            </tr>
                            <tr>
                                <td>Tipo Lente</td>
                                <td>Activo</td>
                            </tr>
                            <tr>
                                <td>Marcos</td>
                                <td>Activo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
