<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/plantilla/plantillaui">

<head>
<meta charset="UTF-8">
<title>CatáPerfect Vision - Pacienteslogos</title>
</head>

<body>

	<div layout:fragment="contenidopaginas">
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h5 class="m-0 font-weight-bold text-primary">Perfect Vision - Pacientes</h5>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Cedula</th>
									<th>Correo</th>
									<th>Telefono</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Pedro</td>
									<td>Andrade</td>
									<td>1711111111</td>
									<td>p1@mail.com</td>
									<td>0991111111</td>
								</tr>
								<tr>
									<td>Andrea</td>
									<td>Benitez</td>
									<td>1711111112</td>
									<td>p2@mail.com</td>
									<td>0991111112</td>
								</tr>
								<tr>
									<td>Luis</td>
									<td>Cruz</td>
									<td>1711111113</td>
									<td>p3@mail.com</td>
									<td>0991111113</td>
								</tr>
								<tr>
									<td>Monica</td>
									<td>Diaz</td>
									<td>1711111114</td>
									<td>p4@mail.com</td>
									<td>0991111114</td>
								</tr>
								<tr>
									<td>Jose</td>
									<td>Espinoza</td>
									<td>1711111115</td>
									<td>p5@mail.com</td>
									<td>0991111115</td>
								</tr>
								<tr>
									<td>Carla</td>
									<td>Flores</td>
									<td>1711111116</td>
									<td>p6@mail.com</td>
									<td>0991111116</td>
								</tr>
								<tr>
									<td>Kevin</td>
									<td>Guerrero</td>
									<td>1711111117</td>
									<td>p7@mail.com</td>
									<td>0991111117</td>
								</tr>
								<tr>
									<td>Diana</td>
									<td>Hidalgo</td>
									<td>1711111118</td>
									<td>p8@mail.com</td>
									<td>0991111118</td>
								</tr>
								<tr>
									<td>Fernando</td>
									<td>Iza</td>
									<td>1711111119</td>
									<td>p9@mail.com</td>
									<td>0991111119</td>
								</tr>
								<tr>
									<td>Valeria</td>
									<td>Jara</td>
									<td>1711111120</td>
									<td>p10@mail.com</td>
									<td>0991111120</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
